.career-section {
    text-align: center;
    padding: 2rem;
    background-color: #f9fafb;
    transition: transform 0.6s ease, opacity 0.6s ease;
}

.slide-up {
    transform: translateY(50px);
    opacity: 0;
}

.slide-up.active {
    transform: translateY(0);
    opacity: 1;
}

.career-section h2 {
    font-size: 2rem;
    font-weight: bold;
}

.career-section h2 span {
    color: #333;
}

.career-section p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 2rem;
}

.career-cards {
    display: flex;
    justify-content: space-around;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.card {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 450px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 150px;
    height: 100%;
    object-fit: cover;
}

.card-content {
    padding: 1rem;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.card-content p {
    margin: 0;
    font-size: 1.2rem;
}

.card-content .bold {
    font-weight: bold;
    color: #007bff;
}

.arrow {
    font-size: 1.5rem;
    color: #4caf50;
}

.career-section {
    margin-bottom: 2rem;
}

#courses-section {
    margin-top: 4rem;
}

